# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
python-embed/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Local database files
data/pesaguard.db
data/PS_2016110962132_14016.csv
PS_20174392719_1491204439457_log.csv
archive.zip

# MLflow local runs
mlruns/
.mlflow/

# Local Environment Variables
.env
